.slider-item {
  margin-right: 20px;
  text-align: center;

  img {
    width: 100%;
    min-height: 180px;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-bottom: 5px;
  }
}
