.slider {
  position: relative;
}
.window {
  width: 100%;
  height: 100%;
}
.slider-track {
  display: flex;
  transition: all 0.3s ease-out;

  &--draging {
    pointer-events: none;
    transition: none;
  }
}
