.related-data {
  margin-bottom: 20px;
}
.slider-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;

  &::first-letter {
    text-transform: uppercase;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }
}
