$bgColor: var(--theme-current-header-bg);

.header {
  background-color: $bgColor;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: all 0.3s ease-in;
  color: var(--theme-current-header-color);
}
.active-item {
  color: var(--theme-current-page);
  text-shadow: var(--theme-current-page) 2px 1px 10px;
}
.inner {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.menu {
  display: flex;

  a {
    margin: 0 15px;
    transition: all 0.3s ease-in;

    @media (pointer: fine) {
      &:hover {
        color: var(--theme-current-page);
        text-shadow: var(--theme-current-page) 2px 1px 10px;
      }
    }
  }

  @media (max-width: 980px) {
    position: fixed;
    flex-direction: column;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 270px;
    padding: 85px 15px;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
    transition: all 0.3s ease-in;
    transform: translateX(100%);

    a {
      margin: 15px 0;
    }
  }
  @media (max-height: 520px) {
    justify-content: space-around;
    a {
      margin: 0;
    }
  }
  @media (max-width: 430px) {
    width: 200px;
  }

  &--show {
    transform: translateX(0);
  }
}
