:root {
  font-family: "Lexend", sans-serif;

  --border-radius: 4px;
  /* THEME */
  --theme-light-bg: linear-gradient(
    to right bottom,
    #051937,
    #162454,
    #312d70,
    #533389,
    #7a359f
  );
  --theme-dark-bg: linear-gradient(
    to right bottom,
    #000000,
    #160b11,
    #20141e,
    #281b2e,
    #2b2440
  );
  --theme-current-bg: var(--theme-light-bg);

  --theme-light-color: #dfe2df;
  --theme-dark-color: #ca6c6f;
  --theme-current-color: var(--theme-light-color);
}
body {
  background-image: var(--theme-current-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  color: var(--theme-current-color);
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
