:root {
  --theme-light-bg: #fff;
  --theme-dark-bg: #000;
  --theme-current-bg: var(--theme-light-bg);

  --theme-light-color: #000;
  --theme-dark-color: #fff;
  --theme-current-color: var(--theme-light-color);
}
body {
  background-color: var(--theme-current-bg);
  transition: background-color 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-current-color);
}
